{% extends 'base.html' %}
{% block title %}Download{% endblock %}
{% block content %}
<header>
    <div class="logo">MoreMessage</div>
    <div class="header-buttons">
        <a href="{% url 'home' %}" class="header-button"><i class="fas fa-home"></i> Главная</a>
    </div>
    <a href="{% url 'profile' %}" class="profile-picture" title="Профиль"></a>
</header>
<main class="download-container">
    <h1 class="title">Скачать MoreMessage</h1>
    <p>Выберите свою операционную систему:</p>
    <div class="download-buttons">
        <a href="{% url 'download_windows' %}" class="download-button"><i class="fab fa-windows"></i> Windows</a>
        <a href="#" class="download-button"><i class="fab fa-apple"></i> MacOS</a>
    </div>
</main>
<footer>
    <p>&copy; 2025 MoreMessage. Все права защищены.</p>
</footer>
{% endblock %}